@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-routing-container {
    display: none;
}

nextjs-portal {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
